<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!--Hibernate配置  -->
	
	<!--引用jdbc.properties-->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!--dataSource  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	
	<!--sessionFactory  -->
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="sessionFactory">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- <property name="mappingResources">
			<array>
				<value>com/robin/bean/User.hbm.xml</value>
			</array>
		</property> -->
		<property name="mappingDirectoryLocations" value="classpath:com/robin/domain"/>
	</bean>
	
	
	<!--托管Dao  -->
	<bean name="userDao" class="com.robin.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--托管transactionManager,服务于Spring的事务功能(在代码里面程序员不会自己创建,这个让Spring自己创建,程序员负责指定需要开启事务的方法)-->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
<!-- 	<bean class="com.robin.web.action.UserAction" name="userAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean> -->
	
	
	<!--开启事务开关-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--扫描托管类注解开关-->
	<context:component-scan base-package="com.robin.*"/>
	
  
</beans>